GOOGLE_WEB_CLIENT_ID=your_web_client_id_here
GOOGLE_ANDROID_CLIENT_ID=your_android_client_id_here
GOOGLE_DESKTOP_CLIENT_ID=your_desktop_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
GOOGLE_DESKTOP_CLIENT_SECRET=your_desktop_client_secret_here
REDIRECT_URL=http://localhost:8080
